.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #ff4d4d, #b30000);
  min-height: 100vh;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.map-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map {
  height: 500px;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
  border: 3px solid #ffcccc;
}
